In [2]:
import pandas as pd
import matplotlib.pyplot as plt
from glob import glob

# The script below is about 
 This script help to analyse the attendance of students accross

In [3]:
#sorting files in the folder
data_file = sorted(glob('*.csv'))
data_file

['masterfile.csv', 'participants_1.csv', 'participants_2.csv']

In [4]:
#Merging files into master file and create new column called source
master_file = pd.concat(pd.read_csv(datafile).assign(source=datafile)
                      for datafile in data_file)

In [5]:
master_file

,Unnamed: 0,Name,User_Email,Total_Duration,Guest,source,Unnamed: 4
0,0.0,Nigeria Room,nigeria.room@alueducation.com,109,Yes,masterfile.csv,NaN
1,1.0,Elnaam Umutoni,e.umutoni@alustudent.com,98,Yes,masterfile.csv,NaN
2,2.0,Mamane19,b.moussaama@alustudent.com,95,Yes,masterfile.csv,NaN
3,3.0,Dirac Murairi,d.murairi@alustudent.com,40,Yes,masterfile.csv,NaN
4,4.0,Wanjiru Wangondu,w.wangondu@alustudent.com,95,Yes,masterfile.csv,NaN
...,...,...,...,...,...,...,...
23,NaN,Pacifique Linda IKIREZI,p.ikirezi@alustudent.com,85,Yes,participants_2.csv,NaN
24,NaN,Diane Niyibaruta,d.niyibarut@alustudent.com,42,Yes,participants_2.csv,NaN
25,NaN,Nguimeya Marthely,n.marthely@alustudent.com,79,Yes,participants_2.csv,NaN
26,NaN,Given Edward,gedward15@alustudent.com,25,Yes,participants_2.csv,NaN
27,NaN,Lucky John Mbikeshimana,j.mbikeshim@alustudent.com,17,Yes,participants_2.csv,NaN

In [7]:
master_file.to_csv('masterfile.csv')

In [8]:
dataset = pd.read_csv("masterfile.csv")

# The table below shows all students

In [9]:
display(dataset)

,Unnamed: 0,Unnamed: 0.1,Name,User_Email,Total_Duration,Guest,source,Unnamed: 4
0,0,0.0,Nigeria Room,nigeria.room@alueducation.com,109,Yes,masterfile.csv,NaN
1,1,1.0,Elnaam Umutoni,e.umutoni@alustudent.com,98,Yes,masterfile.csv,NaN
2,2,2.0,Mamane19,b.moussaama@alustudent.com,95,Yes,masterfile.csv,NaN
3,3,3.0,Dirac Murairi,d.murairi@alustudent.com,40,Yes,masterfile.csv,NaN
4,4,4.0,Wanjiru Wangondu,w.wangondu@alustudent.com,95,Yes,masterfile.csv,NaN
...,...,...,...,...,...,...,...,...
111,23,NaN,Pacifique Linda IKIREZI,p.ikirezi@alustudent.com,85,Yes,participants_2.csv,NaN
112,24,NaN,Diane Niyibaruta,d.niyibarut@alustudent.com,42,Yes,participants_2.csv,NaN
113,25,NaN,Nguimeya Marthely,n.marthely@alustudent.com,79,Yes,participants_2.csv,NaN
114,26,NaN,Given Edward,gedward15@alustudent.com,25,Yes,participants_2.csv,NaN
115,27,NaN,Lucky John Mbikeshimana,j.mbikeshim@alustudent.com,17,Yes,participants_2.csv,NaN

In [26]:
#filtering students who attended 0-30 min
absent = (dataset['Total_Duration '] > 1) & (dataset['Total_Duration '] <= 30)

In [32]:
abs=df.loc[absent]

# The table below shows students who were absence accross two session

In [33]:
abs

                     User_Email              source
24     gedward15@alustudent.com      masterfile.csv
26      b.julien@alustudent.com      masterfile.csv
27    g.landelin@alustudent.com      masterfile.csv
56     gedward15@alustudent.com      masterfile.csv
57   j.mbikeshim@alustudent.com      masterfile.csv
82     gedward15@alustudent.com  participants_1.csv
84      b.julien@alustudent.com  participants_1.csv
85    g.landelin@alustudent.com  participants_1.csv
114    gedward15@alustudent.com  participants_2.csv
115  j.mbikeshim@alustudent.com  participants_2.csv

In [12]:
#filtering students who attended 30-45 min
late = (dataset['Total_Duration '] > 30) & (dataset['Total_Duration '] <= 45)

In [21]:
df = dataset[["User_Email", "source"]]

In [28]:
lt=df.loc[late]

# The table below shows students who were late accross two session

In [29]:
lt

                     User_Email              source
3      d.murairi@alustudent.com      masterfile.csv
25   j.mbikeshim@alustudent.com      masterfile.csv
54   d.niyibarut@alustudent.com      masterfile.csv
61     d.murairi@alustudent.com  participants_1.csv
83   j.mbikeshim@alustudent.com  participants_1.csv
112  d.niyibarut@alustudent.com  participants_2.csv

In [24]:
#filtering students who attended 45 min and above
present = (dataset['Total_Duration '] > 45)

In [30]:
pre=df.loc[present]

# The table below shows students who were present accross two session

In [31]:
pre

                        User_Email              source
0    nigeria.room@alueducation.com      masterfile.csv
1         e.umutoni@alustudent.com      masterfile.csv
2       b.moussaama@alustudent.com      masterfile.csv
4        w.wangondu@alustudent.com      masterfile.csv
5         s.anumudu@alustudent.com      masterfile.csv
..                             ...                 ...
108       a.tanwouo@alustudent.com  participants_2.csv
109       c.murairi@alustudent.com  participants_2.csv
110        s.sugira@alustudent.com  participants_2.csv
111       p.ikirezi@alustudent.com  participants_2.csv
113      n.marthely@alustudent.com  participants_2.csv

[98 rows x 2 columns]